<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css"/>
    <title>New Order</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    
	<noscript><link rel="stylesheet" href="assets/css/noscript.css"/></noscript>
  </head>
<body>
    <!-- Header -->
    <header id="header">
      <a href="/" class="title">Eston's Bakery</a>
      <nav>
        <ul>
          <li><a href="/NewOrder" class="active">New Order</a></li>
          <li><a href="/customerlookup">Customers</a></li>
          <li><a href="/orders">Orders</a></li>
        </ul>
      </nav>
    </header>
<section id="one" class="wrapper style1 fade-up">
    <div class="inner">
      <h2>New Order</h2>
      <p>
        Take new order with the form below and automatically submit it to the SQL Database for safe-keeping.
        Once the order is in the Database, we will be able to run querys on that data to retrieve the info we want.
      </p>
      <div class="split style1">
        <section class="formInputs">
          <form method="POST" action="/order_create">
            <div class="fields">
              <div class="field half">
                <label for="name">Customer's Name</label>
                <input type="text" name="customersName" id="customersName" />
              </div>
              <div class="field half">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" />
              </div>
              <div class="field half">
                  <label for="phoneNumber">Phone Number</label>
                  <input type="tel" name="phoneNumber" id="phoneNumber">
      </div>
      </div>
                <div class="dropdown-row2">
                    <div class="field half">
                        <label for="pickupOrDelivery">Fulfillment</label>
                        <select class="fulfillment" name="pickupOrDelivery" id="pickupOrDelivery"
                        onchange="fulfillment(this.id, 'pickupDate', 'deliveryDate')">
                            <option value=""disabled selected>Pickup/Delivery</option>
                            <option value="pickup">Pickup</option>
                            <option value="delivery">Delivery</option>
                        </select>
                    </div>
                    <div class="field half">
                        <label id="pickupLabel" for="pickupDate">Pickup Date</label>
                        <input type="date" name="pickupDate" id="pickupDate">
                    </div>
                    <div class="field half">
                        <label id="deliveryLabel" for="deliveryDate">Delivery Date</label>
                        <input type="date" name="deliveryDate" id="deliveryDate">
                    </div>
      </div>
      </div>
              <div class="dropdown-row3">
                  <div class="employee">
                      <label for="employee">Employee</label>
                      <select name="employee" id="employee">
                          <option value="" disabled selected>Select Employee</option>
                          <option value="Justin Lupica">Janeen Esterson</option>
                          <option value="Joan Fields">Joan Fields</option>
                          <option value="Victoria Beabout">Victoria Beabout</option>
                      </select>
                  </div>
                  <div class="productType">
                      <label for="productType">Product Type</label>
                      <select name="productType" id="productType" onchange="populate(this.id, 'productSize', 'productFlavor'); visibility()">
                          <option value="" disabled selected>Type</option>
                          <option value="cakes">Cakes</option>
                          <option value="cupcakes">Cupcakes</option>
                          <option value="cheesecakes">Cheesecakes</option>
                      </select>
                  </div>
                  <div class="productSize">
                    <label for="productSize">Product Size</label>
                      <select name="productSize" id="productSize" onchange="price()">
                          <option value="" disabled selected>Size</option>
                      </select>
                  </div>
                  <div class="productFlavor">
                    <label for="productFlavor">Product Flavor</label>
                      <select name="productFlavor" id="productFlavor">
                          <option value=""disabled selected>Flavor</option>
                      </select>
                    </div>
              </div>
            <div class="dropdown-row4">
              <div class="icing">
                  <label id="icingLabel" for="icing">Icing Color</label>
                <select name="icing" id="icing">
                  <option value=""disabled selected>Select Icing</option>
                    <option value="white">White</option>
                    <option value="chocolate">Chocolate</option>
                </select>
                </div>
                <div class="designChoice">
                    <label id="designLabel" for="designChoice">Design:</label>
                    <select name="designChoice" id="designChoice" onchange="designSelect()">
                      <option value="" disabled selected>Choose a design:</option>
                      <option value="Roses">Roses</option>
                      <option value="Dots">Dots</option>
                    </select>
                </div>
                <div class="roseColor1">
                    <label id="roseLabel1" for="roseColor1"></label>
                    <select name="roseColor1" id="roseColor1">
                      <option value="" disabled selected>1st Rose</option>
                      <option value="Plain">Plain</option>
                        <option value="White">White</option>
                        <option value="Chocolate">Chocolate</option>
                        <option value="Light Chocolate">Light Chocolate</option>
                        <option value="Pastel Pink">Pastel Pink</option>
                        <option value="Yellow">Yellow</option>
                        <option value="Pastel Bright Green">Pastel Bright Green</option>
                        <option value="Holiday Green">Holiday Green</option>
                        <option value="Red">Red</option>
                        <option value="Pastel Blue">Pastel Blue</option>
                        <option value="Royal Blue">Royal Blue</option>
                        <option value="Navy Blue">Navy Blue</option>
                        <option value="Grey">Grey</option>
                        <option value="Black">Black</option>
                        <option value="Orange">Orange</option>
                        <option value="Pastel Purple">Pastel Purple</option>
                        <option value="Purple">Purple</option>

                    </select>
                </div>
                <div class="roseColor2">
                    <label id="colorLabel2" for="colorChoice2"></label>
                    <select name="colorChoice2" id="colorChoice2">
                      <option value="" disabled selected>2nd Rose</option>
                      <option value="Plain">Plain</option>
                      <option value="White">White</option>
                      <option value="Chocolate">Chocolate</option>
                      <option value="Light Chocolate">Light Chocolate</option>
                      <option value="Pastel Pink">Pastel Pink</option>
                      <option value="Yellow">Yellow</option>
                      <option value="Pastel Bright Green">Pastel Bright Green</option>
                      <option value="Holiday Green">Holiday Green</option>
                      <option value="Red">Red</option>
                      <option value="Pastel Blue">Pastel Blue</option>
                      <option value="Royal Blue">Royal Blue</option>
                      <option value="Navy Blue">Navy Blue</option>
                      <option value="Grey">Grey</option>
                      <option value="Black">Black</option>
                      <option value="Orange">Orange</option>
                      <option value="Pastel Purple">Pastel Purple</option>
                      <option value="Purple">Purple</option>
                    </select>
                </div>
            </div>
                <div class="field">
                    <label for="messageCard">Message Card</label>
                    <input type="text" name="messageCard" id="messageCard">
                </div>

              <div class="field">
                <label for="specialInstructions">Special Instructions</label>
                <textarea name="specialInstructions" id="specialInstructions" rows="3"></textarea>
              </div>
              <div class="field-receipt">
                    <label for="receiptNumber">Receipt Number</label>
                    <input type="text" name="receiptNumber" id="receiptNumber">
              </div>
                  <h2><label>Total Due:</label></h2>
                  <label id="totalPrice"></label>
              <button class="Submit">Submit Order</button>
            </div>       
          </form>
        </section>
      </div>
    </div>
  </section>
</div>
<script>
  function price() {
    const price = document.getElementById('totalPrice');
    const size = document.getElementById('productSize').value
    if(size == "PBC") {
      price.innerText = "$6.00"
    } else if (size == "6 inch") {
      price.innerText = "$22.00"
    } else if (size == "8 inch") {
      price.innerText = "$32.00"
    } else if (size == "10 inch") {
      price.innerText = "$42.00"
    }else if (size == "1/2 Sh") {
      price.innerText = "$62.00"
    }else if (size == "single") {
      price.innerText = "$2.50"
    }else if (size == "1/2 dozen") {
      price.innerText = "$15.00"
    }else if (size == "dozen") {
      price.innerText = "$29.00"
    }else if (size == "mini-dozen") {
      price.innerText = "$13.50"
    }else if (size == "single slice") {
      price.innerText = "$3.50"
    }else if (size == "whole cheesecake") {
      price.innerText = "$30.00"
    }else if (size == "sampler") {
      price.innerText = "$32.00"
    }
  }
</script>
<script>
function populate(s1, s2, s3) {
  var s1 = document.getElementById(s1);
  var s2 = document.getElementById(s2);
  var s3 = document.getElementById(s3);
  s2.innerHTML = "";
  s3.innerHTML = "";
  if (s1.value == "cakes") {
    var optionArray = [
      "|Select a Size",
      "PBC|PBC",
      "6 inch|6 inch",
      "8 inch|8 inch",
      "10 inch|10 inch",
      "1/2 Sh|1/2 Sh"
    ];
    var flavorArray = [
      "|Select a Flavor",
      "CM|Chocolate Supreme",
      "STR|Strawberries n Cream",
      "LB|Lemon Berry",
      "WCM|White Chocolate Silk",
      "CRSP|Chocolate Raspberry",
      "KL|Key Lime",
      "AZ|Almond Zebra",
      "RR|Raspberry Royale",
      "TIR|Tiramisu",
      "B&W|Black & White",
      "CDS|Chocolate Dipped Strawberry"
    ];
    
  } else if (s1.value == "cupcakes") {
    var optionArray = [
      "|Select a Size",
      "Single|Single",
      "1/2 dozen|1/2 Dozen",
      "Dozen|Dozen",
      "Mini-Dozen|Mini Dozen"
    ];
    var flavorArray = [
      "|Select a Flavor",
      "NY|New York",
      "TC|Triple Chocolate",
      "STR|Strawberry",
      "LK|Lemon Kiss",
      "RV|Red Velvet",
      "BUCK|Buckeye",
      "KL|Key Lime",
      "RF|Raspberry Forest",
      "WC|White Chocolate",
      "VBC|Vanilla Buttercream",
      "CBC|Chocolate Buttercream",
      "Variety|Variety Pack - See Sp. Inst."
    ];
  } else if (s1.value == "cheesecakes") {
    var optionArray = [
      "|Select a Size",
      "Single Slice|Single Slice",
      "Whole Cheesecake|Whole Cheesecake",
      "Mini-Dozen|Mini Dozen",
      "Sampler|Sampler"
    ];
    var flavorArray = [
      "|Select a Flavor",
      "Original|Original",
      "NY|New York",
      "Chocolate Bliss|Chocolate Bliss",
      "Strawberry|Strawberry Chiffon",
      "Mixed Berry|Mixed Berry",
      "Fresh Apple|Fresh Apple",
      "Buckeye|Buckeye",
      "Key Lime|Key Lime",
      "Cookies N Dream|Cookies n Dream",
      "Chocolate Raspberry|Chocolate Raspberry",
      "Mocha Mud|Mocha Mud",
      "Sampler|Sampler",
      "Variety|Variety Pack - See Sp. Inst."
    ];
  }
  for (var option in optionArray) {
    var pair = optionArray[option].split("|");
    var newOption = document.createElement("option");
    newOption.value = pair[0];
    newOption.innerHTML = pair[1];
    s2.options.add(newOption);
  }
  for (var option in flavorArray) {
    var flavorPair = flavorArray[option].split("|");
    var newOption2 = document.createElement("option");
    newOption2.value = flavorPair[0];
    newOption2.innerHTML = flavorPair[1];
    s3.options.add(newOption2);
  }
}
</script>
<script>
  function visibility(typeselector, icing) {
  var typeselector = document.getElementById("productType").value;
  var icing = document.getElementById("icing");
  var icingLabel = document.getElementById("icingLabel");
  var rose1 = document.getElementById("roseColor1");
  var rose1Label = document.getElementById("roseLabel1")
  var rose2 = document.getElementById("colorChoice2")
  var rose2Label = document.getElementById("colorLabel2")
  var designLabel = document.getElementById("designLabel")
  var designChoice = document.getElementById("designChoice")
  if (typeselector == "cupcakes" || typeselector == "cheesecakes") {
    icing.style.visibility = "hidden";
    rose1.style.visibility = "hidden";
    rose1Label.style.visibility = "hidden";
    rose2.style.visibility = "hidden";
    rose2Label.style.visibility = "hidden";
    icingLabel.style.visibility = "hidden";
    designLabel.style.visibility = "hidden";
    designChoice.style.visibility = "hidden";
  } else {
    icing.style.visibility = "visible";
    rose1.style.visibility = "visible";
    rose1Label.style.visibility = "visible";
    rose2.style.visibility = "visible";
    rose2Label.style.visibility = "visible";
    icingLabel.style.visibility = "visible";
    designLabel.style.visibility = "visible";
    designChoice.style.visibility = "visible";
  }
}

function fulfillment(drpdwn1, pickupDate, deliveryDate) {
  var drpdwn1 = document.getElementById("pickupOrDelivery").value;
  var pickupDate = document.getElementById("pickupDate");
  var deliveryDate = document.getElementById("deliveryDate");

  if (drpdwn1 == "pickup") {
    deliveryDate.style.visibility = "hidden";
    pickupDate.style.visibility = "visible";
    pickupLabel.style.visibility = "visible";
    deliveryLabel.style.visibility = "hidden";
  } else if (drpdwn1 == "delivery") {
    pickupDate.style.visibility = "hidden";
    deliveryDate.style.visibility = "visible";
    pickupLabel.style.visibility = "hidden";
    deliveryLabel.style.visibility = "visible";
  }
}

</script>
<script>
  function designSelect(){
    const designLabel1 = document.getElementById("roseLabel1");
    const designChoice = document.getElementById("designChoice").value
    const designLabel2 = document.getElementById("roseLabel2");
    if(designChoice == "Roses") {
      designLabel1.innerText = "Rose Color"
      designLabel2.innerText = "Rose Color"
    } else {
      designLabel1.innerText = "Dots Color"
      designLabel2.innerText = "Dots Color"
    }
  }
</script>
<script>
    require('../renderer.js');
</script>
<script src="../scripts.js"></script>
</body>